@model IEnumerable<ProjektGrede.Models.PodatkiSenzorjev>

@{
    ViewBag.Title = "Start";
}
<div class="container text-center">
    <div class="row row-eq-height" id="vremeCont">
        <div id="live">
            @Html.Partial("_postaje", Model)
        </div>
    </div>
    <div class="row">
        <div class="card text-white  mb-3 col-md-push-1 col-md-3" style="max-width:300px;background-color:wheat;margin:5px 5px 5px 5px">
            <div class="card-header">Agro meteorološki podatki</div>
            <div class="card-body">
                <h4 class="card-title">Bilje</h4>
                <p class="card-text">
                    <ul class="list-group" style="background-color:transparent">
                        <li class="list-group-item">Datum: @ViewData["datum"]</li>
                        <li class="list-group-item">Temperatura: @ViewData["temp"]°C</li>
                        <li class="list-group-item">Vlaga: @ViewData["vlaga"]%</li>
                        <li class="list-group-item">Omočenost lista: @ViewData["omocenost"]</li>
                    </ul>
                </p>
            </div>
            <div class="card-body">
                <a class="card-link" href="http://meteo.arso.gov.si/uploads/probase/www/agromet/bulletin/sl/bilten.html?ind_podreg=5">ARSO</a>
            </div>
            <div class="card-footer text-muted">
                Agrometeorološki podatki ARSO
            </div>
        </div>
      
    </div>
</div>







<script>

    $(function () {
        setInterval(function () { $('#live').load('/Home/_indexPostaje') }, 10000);
    });

    $(document).ready(majhen);
    $(window).on('resize', majhen);

    function majhen() {
        if ($(window).width() <= 600) {
            $('#map').css("height", "250");
            $('#arsologo').css("height", "100");
        }
        else {
            $('#map').css("height", "490");
            $('#arsologo').css("height", "auto");
        };
    }


 </script>
