@model IEnumerable<ProjektGrede.Models.PodatkiSenzorjev>

@{
    Layout = null;
}

<div>

    <div id="chart-dan" style="border:2px solid black;border-radius:4px;background-color:rgba(255, 255, 255, 0.60);position:relative;width:100%;height:400px;min-width:300px;margin-top:20px;">
        <canvas id="bar-chart-dan"></canvas>
    </div>

    <table class="table table-hover" style="background-color:rgba(255, 255, 255, 0.60);border:2px solid black;border-radius:4px;margin-top:20px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vlaga)
            </th>
        </tr>

        @foreach (var item in Model.Reverse())
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp1)°C
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp2)°C
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp3)°C
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vlaga)%
            </td>
        </tr>
        }

    </table>
</div>

<script>
    var podatki = @Html.Raw(Json.Encode(Model));

    var temp1 = podatki.map(function (item) {
        return item.Temp1
    });
    var temp2 = podatki.map(function (item) {
        return item.Temp2
    });
    var temp3 = podatki.map(function (item) {
        return item.Temp3
    });
    var datumi = podatki.map(function (item) {
        var x = item.Cas.toString();
        var konc = x.substr(6, 13);
        var date = new Date(parseInt(konc));
        var options = { hour: 'numeric', minute: 'numeric' }
        var dateString = date.toLocaleString('de-DE', options);
        return dateString;
    });

    //var padavine = podatki.map(function (item) {
    //    return item.Padavine
    //});

    var vlaga = podatki.map(function (item) {
        return item.Vlaga
    });

    new Chart(document.getElementById("bar-chart-dan"), {
        type: 'bar',
        data: {
            labels:  datumi,
            datasets: [
            {
                type: 'line',
                label: "Temp. ozračje",
                backgroundColor: 'orangered',
                borderColor: 'orangered',
                borderWidth: 2,
                data: temp1,
                fill: false,
                yAxisID: 'yaxis2',
                cubicInterpolationMode: 'monotone'
                },
                {
                    type: 'line',
                    label: "Temp. zemlja",
                    backgroundColor: 'brown',
                    borderColor: 'brown',
                    borderWidth: 2,
                    data: temp2,
                    fill: false,
                    yAxisID: 'yaxis2',
                    cubicInterpolationMode: 'monotone'
                },
                {
                    type: 'line',
                    label: "Temp. biomasa",
                    backgroundColor: 'black',
                    borderColor: 'black',
                    borderWidth: 2,
                    data: temp3,
                    fill: false,
                    yAxisID: 'yaxis2',
                    cubicInterpolationMode: 'monotone'
                },
                {
                    type: 'bar',
                    label: "Vlaga",
                    borderColor: '#A1ABDE',
                    backgroundColor: "#A1ABDE",
                    hoverBackgroundColor: "#959EC7",
                    hoverBorderColor: "#959EC7",
                    borderWidth: 2,
                    data: vlaga,
                    yAxisID: 'yaxis1'
                }

            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    barPercentage: 0.8,
                    categoryPercentage: 1,
                    scaleLabel: {
                        display: true,
                        labelString: 'Datum',
                        fontSize: 11
                    },
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Vlaga',
                        fontSize: 11
                    },
                    barPercentage: 0.85,
                    categoryPercentage: 1,
                    type: 'linear',
                    id: 'yaxis1',
                    display: true,
                    position: 'right',
                    ticks: {
                        max: 100,
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            return value + '%';
                        }
                    },
                },
                    {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Temperature',
                            fontSize: 11
                        },
                        type: 'linear',
                        id: 'yaxis2',
                        display: true,
                        position: 'left',
                        ticks: {
                            max: 50,
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return value + '°C';
                            }
                        },
                        gridLines: {
                            drawOnChartArea: false,
                        }
                    }]
            },
            legend: { display: true },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            title: {
                display: true,
                text: 'Temperature in vlaga zadnjih 24ur',
                fontSize: 16
            },
            showXLabels: 10
        }
    });
</script>



