@model IEnumerable<ProjektGrede.Models.PodatkiSenzorjev>


@{
    ViewBag.Title = "Greda " + ViewData["id"];
}
<div class="container">
    <h2 id="podatki">Greda @ViewData["id"]</h2>
    @if (@ViewData["id"].ToString() == "1")
    {
        <img style="height: 200px; margin:4px 7px 10px 4px; display: block;" alt="Bilje" src="~/Slike/WP_20181012_003.jpg" />
    }
    @if (@ViewData["id"].ToString() == "2")
    {
        <img style="height: 200px; margin:4px 7px 10px 4px; display: block;" alt="Bilje" src="~/Slike/WP_20181012_002.jpg" />
    }
    @if (@ViewData["id"].ToString() == "3")
    {
        <img style="height: 200px; margin:4px 7px 10px 4px; display: block;" alt="Bilje" src="~/Slike/WP_20181012_007.jpg" />
    }
    <div class="btn-group" id="obdobje">
        <a href="#" id="danbtn" class="btn btn-success" onclick="danChart()">Dan</a>
        <a href="#" id="tedenbtn" class="btn btn-success" onclick="tedenChart()">Teden</a>
        <a href="#" id="mesecbtn" class="btn btn-success" onclick="mesecChart()">Mesec</a>
    </div>

    <div id="chart-container" style="border:2px solid black;border-radius:4px;background-color:rgba(255, 255, 255, 0.60);position:relative;width:100%;height:400px;min-width:300px;margin-top:20px;">
        <canvas id="bar-chart"></canvas>
    </div>

    @*<table class="table table-hover" style="background-color:rgba(255, 255, 255, 0.60);border:2px solid black;border-radius:4px;margin-top:20px;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Temp1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Temp2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Temp3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vlaga)
                </th>

            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temp1)°C
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temp2)°C
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temp3)°C
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vlaga)%
                </td>
            </tr>
            }

        </table>*@
</div>

@*Dan*@
<script>

    $(".btn-group > .btn").click(function () {
        $(".btn-group > .btn").removeClass("focus");
        $(this).addClass("focus");
    });

    $(document).ready(danChart());

    function danChart() {

        $('#bar-chart').remove(); // this is my <canvas> element
        $('#chart-container').append('<canvas id="bar-chart"></canvas>');

    var podatki = @Html.Raw(Json.Encode(ViewData["Dan"]));

    var temp1 = podatki.map(function (item) {
        return item.Temp1
        });
        var temp2 = podatki.map(function (item) {
            return item.Temp2
        });
        var temp3 = podatki.map(function (item) {
            return item.Temp3
        });
    var datumi = podatki.map(function (item) {
        var x = item.Cas.toString();
        var konc = x.substr(6, 13);
        var date = new Date(parseInt(konc));
        var options = { hour: 'numeric', minute: 'numeric' }
        var dateString = date.toLocaleString('de-DE', options);
        return dateString;
    });

    //var padavine = podatkip.map(function (item) {
    //    return item.Padavine
    //});

    var vlaga = podatki.map(function (item) {
        return item.Vlaga
    });



        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: datumi,
                datasets: [
                    {
                        type: 'line',
                        label: "Temp. ozračja",
                        backgroundColor: 'green',
                        borderColor: 'green',
                        borderWidth: 2,
                        data: temp1,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Temp. zemlje",
                        backgroundColor: 'brown',
                        borderColor: 'brown',
                        borderWidth: 2,
                        data: temp2,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Temp. biomase",
                        backgroundColor: 'orangered',
                        borderColor: 'orangered',
                        borderWidth: 2,
                        data: temp3,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    //{
                    //    type: 'bar',
                    //    label: "Vlaga",
                    //    borderColor: '#A1ABDE',
                    //    backgroundColor: "#A1ABDE",
                    //    hoverBackgroundColor: "#959EC7",
                    //    hoverBorderColor: "#959EC7",
                    //    borderWidth: 2,
                    //    data: vlaga,
                    //    yAxisID: 'yaxis1'
                    //}
                    {
                        type: 'line',
                        label: "Vlaga",
                        backgroundColor: '#A1ABDE',
                        borderColor: '#A1ABDE',
                        borderWidth: 2,
                        data: vlaga,
                        fill: false,
                        yAxisID: 'yaxis1',
                        cubicInterpolationMode: 'monotone'
                    }

                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        barPercentage: 0.8,
                        categoryPercentage: 1,
                        ticks: {
                            callback: function (tick, index, array) {
                                return (index % 2) ? "" : tick;
                            },
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Datum',
                            fontSize: 11
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Vlaga',
                            fontSize: 11
                        },
                        //barPercentage: 0.85,
                        //categoryPercentage: 1,
                        type: 'linear',
                        id: 'yaxis1',
                        display: true,
                        position: 'right',
                        ticks: {
                            max: 25000,
                            min: 20000,
                            beginAtZero: false,
                            callback: function (value, index, values) {
                                return value + ' ';
                            }
                        },
                        gridLines: {
                            drawOnChartArea: false,
                        }
                    },
                    {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Temperatura',
                            fontSize: 11
                        },
                        type: 'linear',
                        id: 'yaxis2',
                        display: true,
                        position: 'left',
                        ticks: {
                            max: 50,
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return value + '°C';
                            }
                        }
                    }]
                },
                legend: { display: true },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                title: {
                    display: true,
                    text: 'Temperatura in vlaga zadnjih 24ur',
                    fontSize: 16
                },
                showXLabels: 10,
            }


        });
    }
</script>

@*Teden*@
<script>
    function tedenChart() {

        $('#bar-chart').remove(); // this is my <canvas> element
        $('#chart-container').append('<canvas id="bar-chart"></canvas>');

    var podatki = @Html.Raw(Json.Encode(ViewData["Teden"]));

    var temp1Avg = podatki.map(function (item) {
        return item.temp1Avg
        });
        var temp2Avg = podatki.map(function (item) {
            return item.temp2Avg
        });
        var temp3Avg = podatki.map(function (item) {
            return item.temp3Avg
        });
    var datumi = podatki.map(function (item) {
        var x = item.datum.toString();
        var konc = x.substr(6, 13);
        var date = new Date(parseInt(konc));
        var options = { day: 'numeric', month: 'numeric', year: 'numeric' }
        var dateString = date.toLocaleString('de-DE', options);
        return dateString;
    });
    var vlaga = podatki.map(function (item) {
        return item.vlagaAVG
    });




        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: datumi,
                datasets: [
                    {
                        type: 'line',
                        label: "Temp. ozračja",
                        backgroundColor: 'green',
                        borderColor: 'green',
                        borderWidth: 2,
                        data: temp1Avg,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Temp. zemlje",
                        backgroundColor: 'brown',
                        borderColor: 'brown',
                        borderWidth: 2,
                        data: temp2Avg,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Temp. biomase",
                        backgroundColor: 'orangered',
                        borderColor: 'orangered',
                        borderWidth: 2,
                        data: temp3Avg,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Vlaga",
                        backgroundColor: '#A1ABDE',
                        borderColor: '#A1ABDE',
                        borderWidth: 2,
                        data: vlaga,
                        fill: false,
                        yAxisID: 'yaxis1',
                        cubicInterpolationMode: 'monotone'
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        barPercentage: 0.6,
                        categoryPercentage: 1,
                        scaleLabel: {
                            display: true,
                            labelString: 'Datum',
                            fontSize: 11
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            labelString: 'Vlaga',
                            fontSize: 11
                        },
                        //barPercentage: 0.85,
                        //categoryPercentage: 1,
                        type: 'linear',
                        id: 'yaxis1',
                        display: true,
                        position: 'right',
                        ticks: {
                            max: 25000,
                            min: 20000,
                            beginAtZero: false,
                            callback: function (value, index, values) {
                                return value + ' ';
                            }
                        },
                        gridLines: {
                            drawOnChartArea: false,
                        }
                    },
                    {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Temperatura',
                            fontSize: 11
                        },
                        type: 'linear',
                        id: 'yaxis2',
                        display: true,
                        position: 'left',
                        ticks: {
                            max: 50,
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return value + '°C';
                            }
                        }
                    }]
                },
                legend: { display: true },
                tooltips: {
                    mode: 'index',
                    intersect: false

                },
                title: {
                    display: true,
                    text: 'Povprečna temperatura in vlaga zadnjih 7 dni',
                    fontSize: 16
                },
                showXLabels: 10
            }
        });
    }
</script>

@*Mesec*@
<script>
    function mesecChart() {

        $('#bar-chart').remove(); // this is my <canvas> element
        $('#chart-container').append('<canvas id="bar-chart"></canvas>');

    var podatki = @Html.Raw(Json.Encode(ViewData["Mesec"]));

        var temp1Avg = podatki.map(function (item) {
            return item.temp1Avg
        });
        var temp2Avg = podatki.map(function (item) {
            return item.temp2Avg
        });
        var temp3Avg = podatki.map(function (item) {
            return item.temp3Avg
        });
    var datumi = podatki.map(function (item) {
        var x = item.datum.toString();
        var konc = x.substr(6, 13);
        var date = new Date(parseInt(konc));
        var options = { day: 'numeric', month: 'numeric', year: 'numeric' }
        var dateString = date.toLocaleString('de-DE', options);
        return dateString;
    });


    var vlaga = podatki.map(function (item) {
        return item.vlagaAVG
    });



        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: datumi,
                datasets: [
                    {
                        type: 'line',
                        label: "Temp. ozračja",
                        backgroundColor: 'green',
                        borderColor: 'green',
                        borderWidth: 2,
                        data: temp1Avg,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Temp. zemlje",
                        backgroundColor: 'brown',
                        borderColor: 'brown',
                        borderWidth: 2,
                        data: temp2Avg,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Temp. biomase",
                        backgroundColor: 'orangered',
                        borderColor: 'orangered',
                        borderWidth: 2,
                        data: temp3Avg,
                        fill: false,
                        yAxisID: 'yaxis2',
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Vlaga",
                        backgroundColor: '#A1ABDE',
                        borderColor: '#A1ABDE',
                        borderWidth: 2,
                        data: vlaga,
                        fill: false,
                        yAxisID: 'yaxis1',
                        cubicInterpolationMode: 'monotone'
                    }

                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        barPercentage: 0.7,
                        categoryPercentage: 1,
                        scaleLabel: {
                            display: true,
                            labelString: 'Datum',
                            fontSize: 11
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Vlaga',
                            fontSize: 11
                        },
                        //barPercentage: 0.85,
                        //categoryPercentage: 1,
                        type: 'linear',
                        id: 'yaxis1',
                        display: true,
                        position: 'right',
                        ticks: {
                            max: 25000,
                            min: 20000,
                            beginAtZero: false,
                            callback: function (value, index, values) {
                                return value + ' ';
                            }
                        gridLines: {
                            drawOnChartArea: false,
                        }
                    },
                    {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Temperatura',
                            fontSize: 11
                        },
                        type: 'linear',
                        id: 'yaxis2',
                        display: true,
                        position: 'left',
                        ticks: {
                            max: 50,
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return value + '°C';
                            }
                        }
                    }]
                },
                legend: { display: true },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                title: {
                    display: true,
                    text: 'Temperatura in vlaga zadnjih 30 dni',
                    fontSize: 16
                },
                showXLabels: 10
            }
        });
    }
</script>