@model IEnumerable<ProjektGrede.Models.PodatkiVnos>

@{
    Layout = null;
}

<div class="container text-center" style="padding-top:20px">
    <div class="row row-eq-height">
        <div class="card mb-3 col-md-4" style="background-color:wheat;margin:5px 5px 15px 5px" id="novVnos">
            <h3 class="card-header">GREDA 1</h3>
            <img style="height: 200px; width: 100%; display: block;" alt="Bilje" src="~/Slike/zelenjava1.png" />
            <div class="card-body">
                <p class="card-text">Podatki števca</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Datum vnosa    : @Html.DisplayFor(modelItem => Model.ElementAt(0).DatumVnosa)</li>
                <li class="list-group-item">Zadnje stanje  : @Html.DisplayFor(modelItem => Model.ElementAt(0).NovoStanje)</li>
                <li class="list-group-item">
                   @Html.Partial("_UstvariVnos", Model.ElementAt(0))
                </li>
            </ul>
          
           
            <div class="card-footer text-muted">
                Zalivanje na gredi 1
            </div>
        </div>
        <div class="card mb-3 col-md-4" style="background-color:wheat;margin:5px 5px 15px 5px">
            <h3 class="card-header">GREDA 2</h3>
            <img style="height: 200px; width: 100%; display: block;" alt="Bilje" src="~/Slike/zelenjava2.png" />
            <div class="card-body">
                <p class="card-text">Podatki števca</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Datum          : @Html.DisplayFor(modelItem => Model.ElementAt(1).DatumVnosa)</li>
                <li class="list-group-item">Zadnje stanje  : @Html.DisplayFor(modelItem => Model.ElementAt(1).NovoStanje)</li>
                <li class="list-group-item">
                    @Html.Partial("_UstvariVnos", Model.ElementAt(1))
                </li>
            </ul>
            
            <div class="card-footer text-muted">
                Zalivanje na gredi 2
            </div>
        </div>
        <div class="card mb-3 col-md-4" style="background-color:wheat;margin:5px 5px 15px 5px">
            <h3 class="card-header">GREDA 3</h3>
            <img style="height: 200px; width: 100%; display: block;" alt="Bilje" src="~/Slike/zelenjava3.png" />
            <div class="card-body">
                <p class="card-text">Podatki števca</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Datum           : @Html.DisplayFor(modelItem => Model.ElementAt(2).DatumVnosa)</li>
                <li class="list-group-item">Zadnje stanje   : @Html.DisplayFor(modelItem => Model.ElementAt(2).NovoStanje)</li>
                <li class="list-group-item">
                    @Html.Partial("_UstvariVnos", Model.ElementAt(2))
                </li>
            </ul>
            
            <div class="card-footer text-muted">
                Zalivanje  na gredi 3
            </div>
        </div>
    </div>
</div>
